main{
    display: flex;
}
.Card-esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    padding: 100px;
    width: 50%;
    height: 100vh;
    max-width: 100%;
    background-color: var(--color-brand-1);
}
.Card-esquerdo h1{
    font-weight: 600;
    font-size: 2rem;
}
.Card-esquerdo h2{
    font-weight: 400;
    font-size: 1.25rem;
}
.surgestaoes{
    display: flex;
    align-items: center;
    gap: 30px;
  }
.surgestaoes h2{
    font-weight: 500;
    font-size: 1.2rem;
  }
.surgestaoes-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.user-img{
    width: 44px;
    border-radius: 50%;
  }
.surgestaoes-button p{
    display: none;
    background-color: var(--color-grey-7);
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
    border-radius: 4px;
    position: absolute;
    font-family: 'Inter Tight', sans-serif;
}
.surgestaoes-button:hover p{
    display: flex;
}
